<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ConnecTouch登録</title>
    <!--<script src="/javascripts/jquery.min.js"></script> -->
    <script type="text/javascript">
    </script>
    <style type="text/css">
      a:link { color: #0000f0 ; }
      a:visited { color: #0000f0 ; }
      a {
      text-decoration: none;
      }

      body {
        background-color: #99ffa3;
      }
      .container {
        display:grid;
        grid-template-columns: 140px 1fr;
      }
      .item {
        font-size:14pt;
        padding:2pt;
      }
      input {
        font-size:14pt;
        width:400;
      }
      input::placeholder {
        color: #ddd;
      }
      .title {
        text-align:right;
      }
      .buttonxx {
        display: inline-block;
        width: 150px;
        height: 200px;
        font-size:40px;
      }
      .button {
        display       : inline-block;
        width: 100;
        border-radius : 8%;          /* 角丸       */
        font-size     : 14pt;        /* 文字サイズ */
        text-align    : center;      /* 文字位置   */
        cursor        : pointer;     /* カーソル   */
        padding       : 12px 12px;   /* 余白       */
        background    : #d74ae4;     /* 背景色     */
        color         : #ffffff;     /* 文字色     */
        line-height   : 1em;         /* 1行の高さ  */
        transition    : .3s;         /* なめらか変化 */
      }

    </style>
  </head>
  <body>
    <h1>Suica情報登録</h1>

    <form action="/register">
      <div class="container">
	<div class="item"><div class="title">ID:</div></div>
	<div class="item"><b><%= @id %></b></div>
	<div class="item"><div class="title">説明:</div></div>
	<div class="item"><input id='desc' name='desc' type="text" value="<%= @desc %>" placeholder="aaa"/></div>
	<div class="item"><div class="title">email:</div></div>
	<div class="item"><input id='email' name='email' type="text" value="<%= @email %>" placeholder='山田のSuica' /></div>
	<div class="item"><div class="title">合言葉:</div></div>
	<div class="item"><input id='secrets' name='secrets' type="text" value="<%= @secrets.join(", ") %>" placeholder='yamada4173, quicksilver' /></div>
	<div class="item"><div class="title">キーワード:</div></div>
	<div class="item"><input id='keywords' name='keywords' type="text" value="<%= @keywords.join(", ") %>" placeholder='秋葉原, ジャズ' /></div>
      </div>
      <p/>
      <input type="submit" class="button" value="登録" />
      <input type="hidden" name="id" value="<%= @id %>" />
      <input type="hidden" name="register" value=true />
    </form>
  </body>
</html>
